<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Notion Guide</title>
        <meta charset="utf-8"/>
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            zinc: colors.zinc,
                            red: colors.red
                        }
                    }
                }
            }
        </script>
    </head>
    <body class="bg-zink-50 px-10 py-12">
        <h1 class="text-3xl font-bold text-zinc-900 mb-20">Notion Guide</h1>
        <div class="flex flex-wrap place-content-start justify-center">
        {% for elm in elms %}
            <div class="border-2 border-gray-800 rounded-lg flex-shrink-0 w-1/4 mr-8 mb-10 px-5 py-12">
                <h2 class="text-2xl text-zinc-900 mb-6">{{elm.headline}}</h2>
                <div class="text-zinc-900 mb-16">
                    <p class="mb-4">{{elm.text}}</p>
                    <p class="mb-4 hover:text-red-400"><a href={{elm.url}}>詳しく見る</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>